body {
  background-color: #00477f;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  color: #fff;
}

.flex-container {
  padding-top: 30px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
